/* Reset some default styles for the page */
body, p {
    margin: 0;
    padding: 0;
    background-color: black;
    
}

body {
    background-image: url('zoomies.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional: Keeps the background fixed */
}


/* Style the h1 element */
h1 {
    background: linear-gradient(45deg, #FFFF00, #FFD700, #FFFF00);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    font-size: 80px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

