body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background: linear-gradient(90deg, #a31931 50%, #FFFFFF 50%);
    background-size: 64px 100%;
}

h2 {
    background: black;
    color: white;
    border-radius: 20px;
    border-radius: 20px;
    padding: 10px;
}

#mealForm {
    margin-bottom: 20px;
    background: white;
    border-radius: 20px;
}

input, select, button {
    margin: 10px 0;
    padding: 10px;
}

#message {
    font-size: 18px;
    color: red;
    background: white;
    border-radius: 20px;
    padding: 10px;
}