/* Reset some default styles for the page */
body, p {
    margin: 0;
    padding: 0;
    background-color: black;
    
}

body {
    background-image: url('ww.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional: Keeps the background fixed */
}


/* Style the h1 element */
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: red;
    font-weight: bold;
    font-size: 30px;
    text-align: center;

}

